<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href=<%= workers_path %> >Sistema INSS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <%= link_to "Listagem", workers_path, :class => "nav-link #{current_path?(workers_path)}" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Novo Proponente", new_worker_path, :class => "nav-link #{current_path?(new_worker_path)}" %>
                    </li>
                    <li class="nav-item dropdown ms-lg-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Login
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Inscrever-se</a></li>
                            <li>
                                <a class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Login
                                </a>
                            </li>
                            <li><a class="dropdown-item" href="#">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>