<div aria-live="polite" aria-atomic="true" class="bg-dark position-fixed bd-example-toasts">
  <div class="toast-container position-fixed p-3 top-0 end-0" id="toast-note">
    <div id="notifier" class="toast" data-bs-animation="true" data-bs-autohide="true">
      <div class="toast-header bg-success text-white">
        <img src="" class="rounded me-2" alt="">
        <strong id="notifier-title" class="me-auto">
          <!-- EMPTY -->
        </strong>
      </div>
      <div id="notifier-content" class="toast-body">
        <!-- EMPTY -->
      </div>
    </div>
  </div>
</div>
             